<!DOCTYPE html>
<html lang="en">

<body>
  <div style="
      margin: 0;
      padding: 2rem;
      display: grid;
      place-items: center;
      box-sizing: border-box;
      background-color: #229e57;
      overflow-x: hidden !important;
      font-family: 'Inter', sans-serif !important;
    ">
    <div class="template" style="
        max-width: 750px;
        margin: 1rem 2rem;
        background-color: #fff;
        border-radius: 12px;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
      ">

      <table>
        <tr>
          <td style="padding: 2rem 0 0 2rem">
            <div class="logo"
              style="font-weight: 700; font-size: 32px; line-height: 38px; align-items: center; gap: 0.5rem;">
              Greenie <img style="width: 24px; vertical-align: middle; margin-top: -4px;"
                src="https://i.imgur.com/nwZoCJL.png" />
            </div>
          </td>
          <td style="padding: 1rem 2rem 0 0; width: 50%;" align="right">
            <table>
              <tr>
                <td>
                  <a class="login" target="_blank" href="https://greenie.one/" style="
                                                                          color: black;
                                                                          text-decoration: none;
                                                                          font-weight: 600;
                                                                          font-size: 21px;
                                                                          line-height: 19px;
                                                                          margin-right: 18px;
                                                                          
                                                                        ">Log in
                  </a>
                </td>
                <td>
                  <a href="https://www.linkedin.com/company/gogreenie/" target="_blank" rel="noopener noreferrer">
                    <img style="width: 20px; margin-right: 10px; margin-top: 3px;"
                      src="https://i.imgur.com/bYhPQcX.png">
                  </a>
                </td>

                <td>
                  <a href="https://instagram.com/greenie.one" target="_blank" rel="noopener noreferrer">
                    <img style="width: 20px; margin-top: 3px;" src="https://i.imgur.com/FmqQrXo.png" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr style="width: 100%; height: 100%;">
          <td colspan="2">
            <div style="margin-top: 2rem; position: relative;">
              <div
                style="font-weight: 800; font-size: 20px; line-height: 56px; color: #000; margin: 1rem 0 0 0; text-align: center;">
                Please use the OTP</div>
              <div
                style="font-weight: 600; font-size: 32px; line-height: 28px; color: #000; margin-top: 1rem; text-align: center; letter-spacing: 0.2em;">
                <%= otp %></div>
              <div
                style="text-align: center; font-weight: 400; font-size: 18px; line-height: 21px; color: gray; margin: 2rem 3rem;">
                We
                will update you on your email when Greenie is up! We are excited to get you on
                onboard. Stay tuned!</div>
              <div
                style="height: 100%; background-color: #DAFFD2; border-radius: 14px; margin: 0 2rem; padding-top: 2rem; padding-bottom: 1rem;">

                <img src="https://i.imgur.com/RQmfbJL.png" alt="girlCheckingPhone"
                  style="display: block; margin: auto;">
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
</body>

</html>